In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
url = 'https://www.imdb.com/chart/toptv/?ref_=nv_mp_tv250'
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html')
my_list = soup.find('tbody',{'class':'lister-list'}).find_all('tr')
list_name = []
list_year = []
list_rating = []

for dizi in my_list:
    name = dizi.find('td', {'class':'titleColumn'}).a.text
    list_name.append(name)
    year = dizi.find('td', {'class':'titleColumn'}).span.text.strip('()')
    list_year.append(year)
    rating = dizi.find('td', {'class':'ratingColumn imdbRating'}).strong.text
    list_rating.append(rating)
    
df = pd.DataFrame({'Title': list_name, 'Year': list_year, 'Rating': list_rating})
df

                          Title  Year Rating
0               Planet Earth II  2016    9.4
1                  Breaking Bad  2008    9.4
2                  Planet Earth  2006    9.4
3              Band of Brothers  2001    9.4
4                     Chernobyl  2019    9.3
..                          ...   ...    ...
245                 Black Books  2000    8.4
246  The Great British Bake Off  2010    8.4
247                     Gintama  2005    8.4
248                 Foyle's War  2002    8.4
249            The Defiant Ones  2017    8.4

[250 rows x 3 columns]

In [30]:
df.to_csv('IMDB-Top-250-TV.csv')